body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home-intro-left {
    background: url("../Content/images/HomePage/peak.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f2f3;
}

.jumbotron {
    height: 400px;
}

.home-intro-right-image {
    background: url("images/HomePage/coach.jpg");
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 0;
}

.home-intro-right {
    background: url("images/HomePage/deal.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #ffffff;
    background-color: #f1f2f3;
}

.home-intro-right-text {
    padding-top: 70px;
}

.left-intro-h1 {
    color: #ffffff !important;
    margin-bottom: 40px;
}

.left-intro-content {
    color: #121111;
}

#is-coach-checkbox {
    vertical-align: middle;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin: 5px !important;
    margin-top: 10px !important;
}

#coach-form:not(:checked) {
    display: none;
}

.list-group-item img {
    width: 70%;
}

.list-group-item:hover {
    background-color: #e4e4e4;
    opacity: 0.8;
}

.list-group a {
    text-decoration: none;
    color: black;
}

.ul-levels-ratings {
    width: 450px;
}

.level-images-home {
    width: 25px !important;
}

.index-grid {
    width: 500px;
}

    .index-grid table tbody tr td:nth-last-child(-n+3), #category-index-grid {
        text-align: center;
    }

span.k-link {
    text-align: center;
}

.top-menu {
    border-bottom: none;
    background: #98bede; /* Old browsers */
    background: -moz-linear-gradient(top, #98bede 0%, #deefff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98bede), color-stop(100%,#deefff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #98bede 0%,#deefff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #98bede 0%,#deefff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #98bede 0%,#deefff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #98bede 0%,#deefff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98bede', endColorstr='#deefff',GradientType=0 ); /* IE6-9 */
}

    .top-menu a {
        color: #454545 !important;
    }

        .top-menu a:hover {
            color: white !important;
        }

.home-list h2 {
    text-align: center;
}

#category-index-grid{
    width:420px;
}
