body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home-intro-left {
    background: url("../Content/images/peak.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f2f3;
}

.jumbotron {
    height: 400px;
}

.home-intro-right-image {
    background: url("images/coach.jpg");
    height: 200px;
    background-repeat: no-repeat;
    margin-top:0
}

.home-intro-right {
    background: url("images/deal.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #ffffff;
    background-color:#f1f2f3;
}

.home-intro-right-text{
    padding-top:70px
}

.left-intro-h1 {
    color: #ffffff !important;
    margin-bottom: 40px;
}

.left-intro-content {
    color: #121111 ;
}
