@model IEnumerable<OnlineCoaching.ViewModels.Offer.OfferViewModel>

@{
    ViewBag.Title = "Offer page";
}

<h2>@ViewBag.Title</h2>

<h4>All offers</h4>

<div class="index-grid">
    @(Html.Kendo().Grid(Model)
        .Name("offerGrid")
        .Columns(columns =>
        {
            columns.Bound(l => l.ID).Width(50);
            columns.Bound(l => l.Title).Width(150);
            columns.Bound(l => l.Description).Width(250);
            columns.Template(@<a href="~/Offers/Edit/@item.ID" class="btn btn-info btn-sm">Edit</a>).Width(100);
            columns.Template(@<a href="~/Offers/Delete/@item.ID" class="btn btn-danger btn-sm">Delete</a>).Width(100);
        })
                    .Sortable()
                    .Pageable()
                    .Filterable()
                    .Groupable())
</div>
