@model OnlineCoaching.ViewModels.Rating.RatingViewModel

<li class="list-group-item level-rating-panel">
    <div class="row">
        <div class="col-md-5">
            <strong>@Model.Name</strong>
        </div>
        <div class="col-md-1">
            @Model.Value
        </div>
        <div class="btn-group col-md-6">
            <a href="~/Ratings/Edit/@Model.ID" class="btn btn-info">Edit</a>
            <a href="~/Ratings/Delete/@Model.ID" class="btn btn-danger">Delete</a>
        </div>
    </div>
</li>
