@model OnlineCoaching.ViewModels.CoachingLevel.CoachingLevelViewModel

<a href="~/Levels/Edit/@Model.ID" title="Edit @Model.Name.ToLower() level">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-9">
                <strong>@Model.Name</strong>
            </div>
            <div class="col-md-3">
                <img src="@Model.ImageURL" />
            </div>
        </div>
    </li>
</a>

