@model IEnumerable<OnlineCoaching.ViewModels.Coaches.CoachProfileViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <div class="col-md-8">
        <div class="jumbotron home-intro-left">
            <h1 class="left-intro-h1">Coach me!</h1>
            <p class="left-intro-content">Тhink this peak is unbearable for you? </p>
            <p class="left-intro-content">Find your coach and conquer all peaks in your life.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron home-intro-right">
            <div class="home-intro-right-text">
                <h2>Become a coach!</h2>
                <p class="lead">Share your skills, teach others!</p>
            </div>
            <div class="home-intro-right-image"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Top five coaches</h2>
        @foreach (var coach in Model)
        {
            @Html.Partial("~/Views/Coaches/_CoachProfileViewModel.cshtml", coach)
        }
    </div>
    <div class="col-md-4">
        <h2>Top five offers</h2>
        <ul class="list-group">
            <li class="list-group-item">
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>The latest offers</h2>
        <ul class="list-group">
            <li class="list-group-item">
            </li>
        </ul>
    </div>
</div>