@model OnlineCoaching.ViewModels.CompositeModels.CoachesOffersViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <div class="col-md-8">
        <div class="jumbotron home-intro-left">
            <h1 class="left-intro-h1">Coach me!</h1>
            <p class="left-intro-content">Тhink this peak is unbearable for you? </p>
            <p class="left-intro-content">Find your coach and conquer all peaks in your life.</p>
        </div>
    </div>
    <a href="~/Coaches" class="col-md-4 home-right-anchor">
        <div class="jumbotron home-intro-right">
            <div class="home-intro-right-top">
            </div>
            <h1>
                Find Your Coach Here
            </h1>
        </div>
    </a>
</div>


<div class="row">
    <div class="col-md-4 home-list">
        <h2>Top coaches</h2>
        <ul class="list-group">
            @foreach (var coach in Model.Coaches)
            {
                @Html.Partial("~/Views/Coaches/_CoachSimpleView.cshtml", coach)
            }
        </ul>
    </div>
    <div class="col-md-4 home-list">
        <h2>Top offers</h2>
        <ul class="list-group">
                @foreach (var offer in Model.TopOffers)
                {
                    @Html.Partial("~/Views/Offers/_OfferSimpleView.cshtml", offer)
                }
        </ul>
    </div>
    <div class="col-md-4 home-list">
        <h2 class="blink">Latest offers</h2>
        <ul class="list-group">
                @foreach (var offer in Model.LatestOffers)
                {
                    @Html.Partial("~/Views/Offers/_OfferSimpleView.cshtml", offer)
                }
        </ul>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/AppScripts/blink.js")
}