@model IEnumerable<OnlineCoaching.ViewModels.Comment.CommentViewModel>

@{
    ViewBag.Title = "Comment Page";
}

<h2>@ViewBag.Title</h2>

<h4>All comments</h4>

@if (TempData["Success"] != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @TempData["Success"].ToString()
        </div>
    </div>
}

<div class="comments-index-grid">
    @(Html.Kendo().Grid(Model)
        .Name("commentGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ID).Width(50);
            columns.Bound(c => c.Content).Width(250);
            columns.Template(@<a href="~/Comments/Edit/@item.ID" class="btn btn-info btn-sm">Edit</a>).Width(100);
            columns.Template(@<a href="~/Comments/Delete/@item.ID" class="btn btn-danger btn-sm">Delete</a>).Width(100);
        })
                .Sortable()
                .Pageable()
                .Filterable()
                .Groupable())
</div>
<br />