@model OnlineCoaching.ViewModels.Coach.CoachProfileViewModel

@{
    ViewBag.Title = "View";
}

@Html.Partial("~/Views/Coaches/_CoachMainView.cshtml")

<br />
<a href="~/Coaches/Index" class="btn btn-info">Back to all coaches</a>





